h2 {
    color: #007acc;
}

p {
    font-style: italic;
    color:#444;
}

input {
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    align-self: center;
}

button {
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    color: white;
    background-color: #0086f4;
}

:host {
    display: block;
    border:  2px dashed #007acc;
    padding: 16px;
    margin-top: 12px;
    border-radius: 8px;
    background-color: #ffffff;
}